.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/.last_build_id
**/doc/api/
.idea/
*.iml
*.ipr
*.iws
.DS_Store
android/.gradle
android/local.properties
*.g.dart
*.freezed.dart
